<h1>New preset</h1>

<% form_for(@preset) do |f| %>
  <%= f.error_messages %>

	<p><label for="name">Name</label><br/>
	<%= f.text_field :name %></p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', presets_path %>